.list-none {
  list-style: none;
}

.site-header{

  background-color: aliceblue;
}

.site{
  color: black;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform:uppercase ;

}
.main-link{
  background-color: coral;
  font-weight: 700px;
  font-size: 13px;
  line-height: 700px;
  letter-spacing: 0,5px;
  color: azure;
  text-transform: none;

}
.hero-section{
  background-color: black;
}
.hero-cantent{
  width: 390px;
}
.orange-link{
  background-color: coral;
  width: 80px;
  height: 3px;
}
.hero-titlika {
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0.5px;
}
.hero-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}
.feature-item {
width: 340px;
color: black;
}
 .feature-item-text{
font-size: 24px;
font-weight: 700;
line-height: 28.8px;
letter-spacing: 0.5px;
 }
  .feature-item-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
letter-spacing: 0,5px;
  }
.sale {
  background-color: black;
  color: azure;
}
.sale-cantent{
  width: 440px;
}
 
.sale-title {
font-size: 40px;
font-weight: 700;
line-height: 28.8px;
letter-spacing: 0.5px;
}
.sale-text {
  
  font-size: 16px;
  font-weight: 400;
  line: height 24px;
  letter-spacing: 0.5px;
} 
.main-link {

}
.site-foter {
  background-color: aliceblue;
}
.site-foter-divider {
  background-color: black;
  height: 2px;
}
.footer-link {
  font-size: 16px;
  font-weight: 400px;
  line-height: 18px;
  color: black;
  text-decoration: none;
}



  


 
  

  